/* You can add global styles to this file, and also import other style files */
$color-primary: #A2CADF;
$color-secondary: #F2F2F2;

.bg-primary-app {
    background-color: $color-primary !important;
}

.bg-secondary-app {
    background-color: $color-secondary !important;
}