.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal-content {
    max-height: 90vh;
    overflow-y: auto;
}


.modal-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    margin-top: 10px;
    padding: 10px 0;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-container.small {
    width: 250px;
}

.modal-container.medium {
    width: 400px;
}

.modal-container.large {
    width: 600px;
}

/*FORM CONTAINER*/
.form-container {
    display: flex;
    flex-direction: column;
}

.form-row {
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}