<div class="container-fluid">
    <app-page-buttons titulo="{{titulo}}" [elementos]="botones"></app-page-buttons>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <app-datatable [columnas]="columnas" [botonesAcciones]="botonesAcciones"
                            [camposParaBuscar]="camposParaBuscar" [datos]="usuarios" [totalRegistros]="totalRegistros"
                            (cambiarPagina)="onCambiarPagina($event)" (cambiarOrden)="onOrdenar($event)"
                            (cambiarBusqueda)="onBuscar($event)" (clicAccion)="manejarAccion($event)">
                        </app-datatable>
                    </div>
                </div>

                <app-modal [titulo]="tituloModal" [tamano]="'large'" [isVisible]="modalVisible"
                    (confirmarModal)="confirmarAccion()" (cerrarModal)="cerrarModal()">
                    <form [formGroup]="usuarioForm" (ngSubmit)="confirmarAccion()">
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="nombres">Nombres</label>
                                <input [ngClass]="{'is-invalid': isSubmitted && obtenerErrores()['nombres']}"
                                    id="nombres" formControlName="nombres" type="text" class="form-control"
                                    placeholder="Nombres">
                                <div *ngIf="isSubmitted && obtenerErrores()['nombres']?.required" class="text-danger">El
                                    nombre es requerido.</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="apellidos">Apellidos</label>
                                <input [ngClass]="{'is-invalid': isSubmitted && obtenerErrores()['apellidos']}"
                                    id="apellidos" formControlName="apellidos" type="text" class="form-control"
                                    placeholder="Apellidos">
                                <div *ngIf="isSubmitted && obtenerErrores()['apellidos']?.required" class="text-danger">
                                    El
                                    apellido es requerido.</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="nombreUsuario">Usuario</label>
                                <input [ngClass]="{'is-invalid': isSubmitted && obtenerErrores()['nombreUsuario']}"
                                    id="nombreUsuario" formControlName="nombreUsuario" type="text" class="form-control"
                                    placeholder="Usuario">
                                <div *ngIf="isSubmitted && obtenerErrores()['nombreUsuario']?.required"
                                    class="text-danger">
                                    El
                                    nombre de usuario es requerido.</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="correo">Correo</label>
                                <input [ngClass]="{'is-invalid': isSubmitted && obtenerErrores()['correo']}" id="correo"
                                    formControlName="correo" type="email" class="form-control"
                                    placeholder="Correo electrónico">
                                <div *ngIf="isSubmitted && obtenerErrores()['correo']" class="text-danger">
                                    <span *ngIf="obtenerErrores()['correo']?.required">El correo es requerido.</span>
                                    <span *ngIf="obtenerErrores()['correo']?.email">El formato del
                                        correo no es válido.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="contrasena">Contraseña</label>
                                <input [ngClass]="{'is-invalid': isSubmitted && obtenerErrores()['contrasena']}"
                                    id="contrasena" formControlName="contrasena" type="password" class="form-control"
                                    placeholder="Contraseña">
                                <div *ngIf="isSubmitted && obtenerErrores()['contrasena']" class="text-danger">
                                    <span *ngIf="obtenerErrores()['contrasena']?.required">La contraseña es
                                        requerida.</span>
                                    <span *ngIf="obtenerErrores()['contrasena']?.minlength">La contraseña debe tener al
                                        menos
                                        6 caracteres.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="contrasenaRepetida">Repetir Contraseña</label>
                                <input [ngClass]="{'is-invalid': isSubmitted && obtenerErrores()['contrasenaRepetida']}"
                                    id="contrasenaRepetida" formControlName="contrasenaRepetida" type="password"
                                    class="form-control" placeholder="Repetir Contraseña">
                                <div *ngIf="isSubmitted && obtenerErrores()['contrasenaRepetida']" class="text-danger">
                                    <span *ngIf="obtenerErrores()['contrasenaRepetida']?.required">La contraseña es
                                        requerida.</span>
                                    <span *ngIf="obtenerErrores()['contrasenaRepetida']?.minlength">La contraseña debe
                                        tener al menos
                                        6 caracteres.</span>
                                </div>
                                <div *ngIf="isSubmitted && usuarioForm.errors?.['contrasenasNoCoinciden']"
                                    class="text-danger">
                                    Las contraseñas no coinciden.
                                </div>
                            </div>
                        </div>
                    </form>
                </app-modal>

                <app-modal [titulo]="'Eliminar Usuario'" [tamano]="'medium'" [isVisible]="modalConfirmacion"
                    (confirmarModal)="confirmarEliminacion()" (cerrarModal)="cerrarModalConfirmacion()">
                    <p>¿Está seguro que desea eliminar el usuario <strong>{{nombreUsuario}}</strong>?</p>
                </app-modal>
            </div>
        </div>
    </div>
</div>